<div class="row">
  <div class="large-12">

    <h3 class="question_title">Edit a question</h3>

    <%= render 'form' %>
    <%= link_to 'Delete', question_path, method: :delete, class: "button tiny" %>
    <%= link_to 'Back', questions_path, class: "button tiny" %>

  </div>
</div>
