<div class="row">
  <div class="large-12">
    <h2 class="question_title">Questions:</h2>
      <table>
      <% @questions.each do |question| %>
      <tr>
        <td class="answer"><%= link_to question.title, question_path(question), class: "question_field" %></td>
      </tr>
      <% end %>
    </br>
    <%= link_to 'Submit A New Question', '/questions/new', class: 'button tiny' %>
  </div>
</div>
<img class="dragon" src="images/dragon.jpeg">
